<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">
    <insert id="addCategory">
        insert category values (null,
                                #{type},
                                #{name},
                                #{sort},
                                #{status},
                                #{createTime},
                                #{updateTime},
                                #{createUser},
                                #{updateUser})
    </insert>

    <update id="updateCategory">
        update category c set c.update_user=#{updateUser},
                              c.name=#{name},
                              c.sort=#{sort},
                              c.type=#{type},
                              c.update_time=#{updateTime}
        where c.id = #{id}
    </update>

    <update id="updateStatus">
        update category c set
            c.status = #{status}
        where
            c.id = #{id}
    </update>

    <delete id="deleteCategory">
        delete from category c where c.id = #{id}
    </delete>

    <select id="pageQueryCategory" resultType="com.sky.entity.Category">
        select * from category c
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                c.type = #{type}
            </if>
        </where>
        order by c.create_time desc
    </select>
</mapper>