<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="addDish" useGeneratedKeys = "true" keyProperty = "id">
        insert into dish values (
                                 null,
                                 #{name},
                                 #{categoryId},
                                 #{price},
                                 #{image},
                                 #{description},
                                 #{status},
                                 #{createTime},
                                 #{updateTime},
                                 #{createUser},
                                 #{updateUser}
                                )
    </insert>


    <select id="pageDish" resultType="com.sky.vo.DishVO">
        select d.*, c.name categoryName from dish d,category c
        where d.category_id = c.id
        <if test="name != null">
            d.name like concat('%', #{name}, '%')
        </if>
        <if test="status != null">
            d.status = #{status}
        </if>
        <if test="categoryId != null">
            d.category_id = #{categoryId}
        </if>
        order by d.create_time desc
    </select>
</mapper>