<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <insert id="addEmployee" parameterType="com.sky.mapper.EmployeeMapper">
        insert into employee
        value
            (null,#{name},#{username},#{password},#{phone},#{sex},#{idNumber},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <update id="changeStatus">
        update employee e set e.status = #{status} where e.id = #{id}
    </update>

    <select id="pageQueryEmployee" resultType="com.sky.entity.Employee">
        select * from employee e
        <where>
            <if test="name != null and name!= ''">
                e.name like concat('%', #{name}, '%')
            </if>
        </where>
        order by e.create_time desc
    </select>
</mapper>
