<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <insert id="insertSetmeal" useGeneratedKeys = "true" keyProperty = "id">
        insert into setmeal (setmeal.id,
                             setmeal.category_id,
                             setmeal.name,
                             setmeal.price,
                             setmeal.status,
                             setmeal.description,
                             setmeal.image,
                             setmeal.create_time,
                             setmeal.update_time,
                             setmeal.create_user,
                             setmeal.update_user)
        values (
                                    null,
                                    #{categoryId},
                                    #{name},
                                    #{price},
                                    #{status},
                                    #{description},
                                    #{image},
                                    #{createTime},
                                    #{updateTime},
                                    #{createUser},
                                    #{updateUser}
                                )
    </insert>
    <update id="updateStatus">
        update setmeal set
                           setmeal.status = #{status},
                           setmeal.update_user = #{updateUser},
                           setmeal.update_time = #{updateTime}
                       where setmeal.id = #{id}
    </update>


    <delete id="deleteById">
        delete from setmeal where setmeal.id = #{id}
    </delete>

    <select id="pageSetmeal" resultType="com.sky.entity.Setmeal">
        select * from setmeal s
        <where>
            <if test="name != null">
                and s.name like concat('%', #{name}, '%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
        </where>
        order by s.create_time desc
    </select>
    <select id="selectById" resultType="com.sky.entity.Setmeal">
        select * from setmeal where setmeal.id = #{id}
    </select>
</mapper>
