<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <insert id="add">
        insert into shopping_cart (shopping_cart.id,
                                   shopping_cart.name,
                                   shopping_cart.image,
                                   shopping_cart.user_id,
                                   shopping_cart.dish_id,
                                   shopping_cart.setmeal_id,
                                   shopping_cart.dish_flavor,
                                   shopping_cart.number,
                                   shopping_cart.amount,
                                   shopping_cart.create_time)
        values (null,
                #{name},
                #{image},
                #{userId},
                #{dishId},
                #{setmealId},
                #{dishFlavor},
                #{number},
                #{amount},
                #{createTime})
    </insert>
    <update id="updateShoppingCart">
        update shopping_cart set shopping_cart.number = #{number}
                                                            <where>
                                                                <if test="dishId != null">
                                                                    and dish_id = #{dishId}
                                                                </if>
                                                                <if test="setmealId != null">
                                                                    and setmeal_id = #{setmealId}
                                                                </if>
                                                                <if test="dishFlavor != null">
                                                                    and dish_flavor = #{dishFlavor}
                                                                </if>
                                                                <if test="userId != null">
                                                                    and user_id = #{userId}
                                                                </if>
                                                            </where>
    </update>
    <select id="queryById" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart <where>
        <if test="dishId != null">
            and dish_id = #{dishId}
        </if>
        <if test="setmealId != null">
            and setmeal_id = #{setmealId}
        </if>
        <if test="dishFlavor != null">
            and dish_flavor = #{dishFlavor}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </where>
    </select>

</mapper>